<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/places">
      <!-- <img src="../public/w0C67UIIDYFDw_k.png" alt="logo"/> -->
      <h2>Akshat</h2>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/places"
            >Places</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/places/best-india">Best Places in India</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/places/best-cities"
            >Best Places in Cities</a
          >
        </li>
        <% if(user) { %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/places/new"
            >Add Place</a
          >
        </li>
        <% } %>
      </ul>

      <form class="d-flex" role="search" action="/places/search" method="GET">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          name="term"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          style="margin-right: 20px"
        >
          Search
        </button>
        <% if(user) { %>
        <a href="./login">
          <button type="button" class="btn btn-dark" style="margin-right: 20px">
            Logout
          </button>
        </a>
        <% } else { %>
        <a href="./login">
          <button type="button" class="btn btn-dark" style="margin-right: 20px">
            Login
          </button>
        </a>
        <a href="./signup">
          <button type="button" class="btn btn-warning">SignUp</button>
        </a>
        <% } %>
      </form>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <% if (successMessage && successMessage.length > 0) { %>
  <div
    class="alert alert-success alert-dismissible fade show"
    role="alert"
    style="width: 45rem; height: 8vh"
  >
    <%= successMessage %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %> <% if (errorMessage && errorMessage.length > 0) { %>
  <div
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
    style="width: 45rem; height: 8vh"
  >
    <%= errorMessage %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
</div>
